body{
    background-image: url(https://media.istockphoto.com/id/1095047472/es/vector/p%C3%A1gina-de-error-ilustraci%C3%B3n-de-emoji-muerto.jpg?s=612x612&w=0&k=20&c=VN3-czAh73dIrjqma7W5TQEedTTT_kIl5b6dmDSFULc=);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}